body {
  margin: 0;
  position: relative;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9; /* Light gray background */
  color: #333;
  overflow-x: hidden;
}

nav {
  background-color: #3e4095; /* Deep purple navbar background */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  transition: background-color 0.3s, box-shadow 0.3s;
  z-index: 1000;
}

#skills ul li{ 
  list-style-type: none;
}

#nav-lists {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

#nav-lists li {
  margin: 0 15px;
}

button {
  background-color: #3e4095; /* Deep purple button background */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

section {
  margin-top: 70px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease; /* Add a subtle scale effect on hover */
}

section:hover {
  transform: scale(1.02);
}

h1, h2 {
  color: #3e4095; /* Deep purple heading color */
}

#nav-lists ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

.social-links a {
  margin-right: 20px;
  text-decoration: none;
  color: #3e4095; /* Deep purple social link color */
  font-size: 18px;
}

.social-links img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.skill-description {
  display: none;
  margin-top: 10px;
}

#skills i { 
  cursor: pointer;
}
#prog-skills i { 
  font-size: 5rem;


}
#prog-skills ul li {
  border-style:solid;
  border-color:black;
}
#prog-skills { 
  display: flex; 
  flex-direction:column;
}
/* Add more styles for other elements as needed */
